# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.settings/
.project
.classpath

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Tomcat
*.war
*.war.*

# Logs
*.log

# Local configuration files
*.properties
*.xml

# Maven wrapper
.mvn/
mvnw
mvnw.cmd
